services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.db
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    platform: linux/arm64/v8
    image: rabbitmq:3.10.8-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: ./requests_app/Dockerfile
    command: sh -c "uv run python manage.py loaddata payment_requests || true && uv run gunicorn config.wsgi:application"
    volumes:
      - static_volume:/usr/src/requests_app/staticfiles
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    env_file:
      - ./.env.backend
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  celery_worker:
    build:
      context: .
      dockerfile: ./requests_app/Dockerfile
    entrypoint: []
    command: uv run celery -A config worker --loglevel=info
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    env_file:
      - ./.env.backend
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  celery_beat:
    build:
      context: .
      dockerfile: ./requests_app/Dockerfile
    entrypoint: []
    command: uv run celery -A config beat --loglevel=info
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    env_file:
      - ./.env.backend
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  nginx:
    image: nginx:1.21-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - static_volume:/usr/src/requests_app/staticfiles
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  postgres_data:
  static_volume:
